/* @import './base.css'; */

#app {
  max-width: 1600px;
  margin: 2rem auto;
  font-weight: normal;
}

@media (max-width: 1600px) {
  #app {
    margin: 2rem;
  }
}

:root {
  --white: #fff;
  --black: #212121;

  --background-body: #F8F9FA;
  --blue-500: #0376D4;
  --border-color: #F8F9FA;

  --text-primary: #101828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-body);
  color: var(--black);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
